{% for type, messages in app.session.flashbag.all() %}
	{% if type == 'success' %}
		{% for message in messages %}
			<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body">
						<i class="text-success bi bi-check-circle-fill me-auto"></i>
						{{ message }}
					</div>
					<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		{% endfor %}
	{% elseif type == 'error'%}
		{% for message in messages %}
			<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body">
						<i class="text-danger bi bi-exclamation-circle-fill me-auto"></i>
						{{ message }}
					</div>
					<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endfor %}
