{% if error is defined %}
	<div>{{ error.messageKey is defined ? error.messageKey|trans(error.messageData, 'security') : '' }}</div>
{% endif %}
<form class="row g-3" id="loginFrom" method="post" action="{{ path('app_login') }}">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="login_nickname" placeholder="Nickname" name="_username" value="" required>
		<label class="ms-2" for="login_nickname">Nickname*</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="login_code" placeholder="Code" name="_password" value="" required>
		<label class="ms-2" for="login_code">Code*</label>
	</div>

	<div class="col-12">
		<button class="btn btn-primary" type="submit">Anmelden</button>
	</div>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
