{% if error is defined %}
	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form class="row g-3" id="loginFrom" method="post" action="{{ path('app_login') }}">
	<div class="col-md-4">
		<label for="validationCustom01" class="form-label">Nickname</label>
		<input type="text" class="form-control" id="login_nickname" name="_username" value="" required>
	</div>
	<div class="col-md-4">
		<label for="validationCustom01" class="form-label">Code</label>
		<input type="text" class="form-control" id="login_code" name="_password" value="" required>
	</div>

	<div class="col-12">
		<button class="btn btn-primary" type="submit">Anmelden</button>
	</div>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
