<form class="row g-3" id="resetCodeForm" novalidate>
	<div class="form-floating mb-3">
		<input type="email" class="form-control" id="inputResetCodeEmail" name="inputResetCodeEmail" placeholder="E-Mail" required>
		<label class="ms-2" for="inputResetCodeEmail">E-Mail*</label>
		<div class="invalid-feedback">
			Bitte, gib eine valide E-Mail-Adresse an
		</div>
	</div>
	<div class="col-12">
		<button class="btn btn-primary" type="submit">Code zurücksetzen</button>
	</div>
</form>
