body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  min-height: 500px; /* Set your desired maximum height */
  overflow-y: auto; /* Add scroll bar if content exceeds the maximum height */
}
