<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="text-end">
				<button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-header">
				<nav class="nav nav-tabs nav-justified w-100" id="nav-tab-authModal" role="tablist">
					<button class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="true">Login</button>
					<button class="nav-link" id="nav-registration-tab" data-bs-toggle="tab" data-bs-target="#nav-registration" type="button" role="tab" aria-controls="nav-registration" aria-selected="false">Registration</button>
					<button class="nav-link" id="nav-registration-tab" data-bs-toggle="tab" data-bs-target="#nav-registration" type="button" role="tab" aria-controls="nav-registration" aria-selected="false">Code zurücksetzen</button>
				</nav>
			</div>
			<div class="modal-body">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">{% include "global/loginForm.html.twig" %}</div>
					<div class="tab-pane fade" id="nav-registration" role="tabpanel" aria-labelledby="nav-registration-tab">{% include "global/registrationForm.html.twig" %}</div>
					<div class="tab-pane fade" id="nav-registration" role="tabpanel" aria-labelledby="nav-registration-tab">{% include "global/resetCodeForm.html.twig" %}</div>
				</div>
			</div>
		</div>
	</div>
</div>
