{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>

    <i class="bi-alarm" style="font-size: 1.4rem; color: black;"></i>

{% endblock %}