{% extends 'base.html.twig' %}

{% block body %}
	<main class="d-flex justify-content-between align-items-center gap-2">
		<a class="btn hover-bg-primary hover-text-white d-flex justify-content-center align-items-center card p-5 m-2 shadow-sm w-100 h-100" href="{{ path('app_quiz_singleplayer') }}">Einzelspiel</a>
		<a class="btn hover-bg-primary hover-text-white d-flex justify-content-center align-items-center card p-5 m-2 shadow-sm w-100 h-100" href="{{ path('app_quiz_multiplayer') }}">Gruppenspiel</a>
	</main>
{% endblock %}
